h1 {
  font-size: 100px;
  text-align: center;
  text-transform: uppercase;
  font-family: "Montserrat", sans-serif;
  margin-top: 200px;
}

.page-reveal {
  position: fixed;
  inset: 0;
  pointer-events: none;
}

.page-reveal .element {
  position: absolute;
  height: 100%;
  width: 100%;
  transform-origin: left;
}

.page-reveal .element-1 {
  background: #ffb703;
  transform: scaleX(0);
  animation: revealAnim 2500ms ease;
}

.page-reveal .element-2 {
  background: #023047;
  transform: scaleX(0);
  animation: revealAnim 1000ms ease;
  animation-delay: 900ms;
}

.page-reveal .element-3 {
  background: #fff;
  animation: revealContentAnim forwards;
  animation-delay: 1000ms;
}

@keyframes revealAnim {
  50% {
    transform: scaleX(1);
    transform-origin: left;
  }
  51% {
    transform-origin: right;
  }
  100% {
    transform: scaleX(0);
    transform-origin: right;
  }
}

@keyframes revealContentAnim {
  to {
    transform: scale(0);
  }
}
